* { margin: 0; padding: 0; font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Arial, sans-serif; }

body {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    width: 90%;
    height: 60px;
    background-color: white;
    color: #303b44;
}

a {
    color: #222222;
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #303b44;
    color: white;
}

footer > p {
    margin-left: 10%;
}

footer > p > a {
    color: #75a1b0;
    padding: 3px;
}

hr {
    max-width: 90%;
    background-color: whitesmoke;
    border-bottom: 1px solid #303b44;
}

.wrapper {
    margin-left: 10%;
}

.btn {
    float: right;
    background-color: #1292ee;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.22);
    -webkit-transition: background-color .3s ease-in-out;
    -moz--transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.btn:hover {
    background-color: #3b64d1;
}

.artContent {
    width: 100%;
    white-space: pre-wrap;
}

.topBar-nameMainPage {
    width: 100%;
    margin-left: 10%;
}

.topBar-listPages {
    width: 100%;
}

.topBar-listPages ul li {
    display: inline-block;
}

.headerBottomMenu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #f1f3f5;
}

.wrapper > a {
    display: inline-block;
    margin-left: 10px;
    color: black;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

.wrapper > a:after {
    background-color: #ffc098;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.wrapper > a:hover:after,
.wrapper > a:focus:after {
    width: 100%;
}

.mainNewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 360px;
    background-color: #ffc098;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mainNewContainer > p {
    padding-top: 10px;
    color: white;
}

.mainNewContainer > a {
    font-size: 36pt;
    margin-left: 10%;
    color: #333a40;
    max-width: 60%;
}

.mainNewContainer > a:after {
    background-color: whitesmoke;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.mainNewContainer > a:hover:after,
.mainNewContainer > a:focus:after {
    width: 90%;
}

.content {
    width: 100%;
    margin-top: 30px;
}

.rowBlockNew {
    display: flex;
    margin-left: 5%;
}

.blockNew {
    position: relative;
    width: 30%;
    margin: 10px;
    height: 450px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f1f3f5;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
    -webkit-transition: box-shadow .3s ease-in-out;
    -moz--transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
}

.blockNew:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.blockNew > a > img {
    width: 100%;
    height: 50%;
}

.blockNew > a > h4 {
    color: #93a1b0;
}

.blockNew > a > p {
    width: 99%;
}

.left-content {
    float: left;
    width: 60%;
    margin-left: 10%;
}

.article > h3 {
    word-wrap: break-word;
    max-width: 90%;
}

.article > p {
    word-wrap: break-word;
    max-width: 90%;
    color: #222;
}

.article > img {
    width: 99%;
    height: 400px;
}

.right-content {
    word-wrap: break-word;
    float: right;
    width: 20%;
    margin-right: 10%;
    background-color: #ffc098;
    border-radius: 5px 5px 0 0px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}

.right-content > p {
    padding: 5px;
    border-bottom: 1px solid #eeb99c;
    -webkit-transition: background-color .3s ease-in-out;
    -moz--transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.right-content > p:hover {
    background-color: #ffa76f;
}

.right-content > h4 {
    text-transform: uppercase;
    margin-left: 5px;
    color: #222222;
}